<!-- {% block body %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
		<title>Heart Disease</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='heart-disease.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
  </head>
  <body>
		<div class="container-fluid">
			<div class="py-3 text-center bg-info">
				<h2 class="top-title">Heart Disease Detector</h2>
				<p class="lead"></p>
			</div>
			<div class="py-3 row">
				<div class="col-md-6">
					<div class="alert alert-info" role="alert">
						<h5 class="alert-heading">Petunjuk Penggunaan:</h5>
						<p>Masukan data-data yang ada pada tabel disebelah kanan.<br>Ketika semua data sudah diinput, silahkan click tombol prediksi untuk mengetahui
						ada atau tidaknya penyakit dari data yang dimasukan.
						</p><hr>
						<p class="mb-0">Pengembang: 
						<br><ul class="developer">
							<li><span class="nama-team">C</span>hristian</li>
							<li><span class="nama-team">E</span>nsof</li>
							<li><span class="nama-team">M</span>unir</li>
							<li><span class="nama-team">A</span>lfian</li>
							<li><span class="nama-team">S</span>eldi</li>
						</ul>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<div class="col-md-4">
							<label>Umur</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="age" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>Jenis Kelamin</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="sex" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>Chest-pain type</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="chest" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>Tekanan Darah</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="bpressure" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>Kolestrol Serum</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="cholesterol" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>Gula Darah Puasa</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="blood_sugar" type="text" placeholder="> 120 mg/dl">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>resting ECG</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="ecg" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>max-heart rate achieved</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="max_heart" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>exercise induced angina</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="angina" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>ST depression</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="st_depression" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>peak exercise ST segment</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="peak_st" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>number of major vessels (0-3) colored by flourosopy</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="c_vessel" type="text">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<label>thal</label>
						</div>
						<div class="col-md-8">
							<input class="form-control" id="thal" type="text">
						</div>
					</div>
					<button class="button btn-success" onclick="predict()">Prediksi</button>
				</div>
			</div>
		</div>
  </body>
</html>
<!-- {% endblock %} -->